/*widget-icon-text*/
.widget-icontext {position:relative;}
.widget-icontext .icon:not(.ic) {/*padding-right:10px;*/ font-weight: bold;}
.widget-icontext a {position: absolute; top:0; left:0; width:100%; height:100%;}
.widget-icontext .rr-icon { text-align: center; transition: all 350ms ease; color:var(--main-second-color);}

/*widget-bulle*/
.widget-bulle p {margin:0;}

/*widget-bloc-carre*/
.elementor-bloc-carre .item {width:20%;}
.elementor-bloc-carre .item .ct {width:100%; height:230px; background-position:center center; background-size:cover; padding:12px;}
.elementor-bloc-carre .item .ct > div {width:100%;}
.elementor-bloc-carre .item .ct h3 {color:#fff!important; text-align: center; font-weight: bold;}

@media screen and (max-width: 992px) { 
    .elementor-bloc-carre .item {width:25%;}
}
@media screen and (max-width: 768px) { 
    .elementor-bloc-carre .item {width:33.33333%;}
}
@media screen and (max-width: 576px) { 
    .elementor-bloc-carre .item {width:50%;}
}


/*like a bootstrap*/
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.g-1, .gy-1 {--bs-gutter-y: 0.25rem;}
.g-1, .gx-1 {--bs-gutter-x: 0.25rem;}
.g-2, .gy-2 {--bs-gutter-y: 0.5rem;}
.g-2, .gx-2 {--bs-gutter-x: 0.5rem;}
.g-3, .gx-3 {--bs-gutter-x: 1rem;}
.g-3, .gy-3 {--bs-gutter-y: 1rem;}
.g-4, .gy-4 {--bs-gutter-y: 1.5rem;}
.g-4, .gx-4 {--bs-gutter-x: 1.5rem;}
.g-5, .gy-5 {--bs-gutter-y: 3rem;}
.g-5, .gx-5 {--bs-gutter-x: 3rem;}

.d-flex {display: flex;}
.flex-column {flex-direction: column;}
.flex-wrap { flex-wrap: wrap !important; }
.mt-auto {margin-top: auto !important;}
.h-100 { height: 100% !important; }

.col-12 { flex: 0 0 auto; width: 100%; }


@media screen and (min-width: 768px) {
    .d-md-flex {display: flex;}
    .col-md-6 {flex: 0 0 auto; width: 50%;}
}
@media screen and (min-width: 992px) {
    .col-lg-4 {flex: 0 0 auto; width: 33.33333333%;}
    .col-lg-3 {flex: 0 0 auto; width: 25%;}
}